@using FitAura.Components.Modals.Show
@using FitAura.Components.Modals.Add
@using MudBlazor
@inject IDialogService DialogService

<button @onclick='@(isFilled ? () => DialogService.ShowAsync<ShowMeal>("Podgląd", new DialogOptions { FullWidth = true, MaxWidth = MaxWidth.Small }) : () => DialogService.ShowAsync<AddMeal>("Wybór posiłku", new DialogOptions { FullWidth = true, MaxWidth = MaxWidth.Small }))' class="@(isFilled ? "meal-card filled" : "meal-card")">
    @(
        isFilled ? 
        @<svg width="40" height="40" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_39_21)">
                <path d="M24.9998 35.4166C24.9998 33.759 25.6583 32.1693 26.8304 30.9972C28.0025 29.8251 29.5922 29.1666 31.2498 29.1666C32.9074 29.1666 34.4971 29.8251 35.6692 30.9972C36.8413 32.1693 37.4998 33.759 37.4998 35.4166C37.4998 37.0742 36.8413 38.664 35.6692 39.8361C34.4971 41.0082 32.9074 41.6666 31.2498 41.6666C29.5922 41.6666 28.0025 41.0082 26.8304 39.8361C25.6583 38.664 24.9998 37.0742 24.9998 35.4166ZM47.9165 33.3333C49.5741 33.3333 51.1638 32.6748 52.3359 31.5027C53.508 30.3306 54.1665 28.7409 54.1665 27.0833C54.1665 25.4257 53.508 23.836 52.3359 22.6639C51.1638 21.4918 49.5741 20.8333 47.9165 20.8333C46.2589 20.8333 44.6692 21.4918 43.4971 22.6639C42.325 23.836 41.6665 25.4257 41.6665 27.0833C41.6665 28.7409 42.325 30.3306 43.4971 31.5027C44.6692 32.6748 46.2589 33.3333 47.9165 33.3333ZM95.8331 65.5125V81.25C95.8276 86.2211 93.8504 90.987 90.3353 94.5021C86.8202 98.0172 82.0543 99.9945 77.0831 100H22.9165C17.9454 99.9945 13.1794 98.0172 9.66431 94.5021C6.1492 90.987 4.17199 86.2211 4.16647 81.25V65.5125C2.9172 64.7762 1.88168 63.7266 1.16227 62.4675C0.442858 61.2084 0.0644531 59.7834 0.0644531 58.3333C0.0644531 56.8832 0.442858 55.4582 1.16227 54.1991C1.88168 52.94 2.9172 51.8904 4.16647 51.1541V38.0666C4.1786 27.9737 8.19366 18.2977 15.3308 11.1614C22.468 4.02499 32.1444 0.0109963 42.2373 -3.05176e-05L57.7623 -3.05176e-05C67.8552 0.0109963 77.5316 4.02499 84.6688 11.1614C91.806 18.2977 95.821 27.9737 95.8331 38.0666V51.1541C97.0824 51.8904 98.1179 52.94 98.8373 54.1991C99.5568 55.4582 99.9352 56.8832 99.9352 58.3333C99.9352 59.7834 99.5568 61.2084 98.8373 62.4675C98.1179 63.7266 97.0824 64.7762 95.8331 65.5125ZM16.6665 38.0666V50H83.3331V38.0666C83.3243 31.2879 80.6273 24.7894 75.8336 19.9965C71.0399 15.2037 64.541 12.5077 57.7623 12.5H42.2373C35.4586 12.5077 28.9597 15.2037 24.166 19.9965C19.3723 24.7894 16.6753 31.2879 16.6665 38.0666ZM83.3331 81.25V66.6666H70.8331C57.7915 66.6666 57.5748 67.8625 47.9165 76.25C45.7764 78.1314 43.0244 79.1692 40.1748 79.1692C37.3253 79.1692 34.5732 78.1314 32.4331 76.25C25.7165 70.4166 23.2998 67.3 16.6665 66.775V81.25C16.6665 82.9076 17.325 84.4973 18.4971 85.6694C19.6692 86.8415 21.2589 87.5 22.9165 87.5H77.0831C78.7407 87.5 80.3305 86.8415 81.5026 85.6694C82.6747 84.4973 83.3331 82.9076 83.3331 81.25Z" fill="black" />
            </g>
            <defs>
                <clipPath id="clip0_39_21">
                    <rect width="100" height="100" fill="white" />
                </clipPath>
            </defs>
        </svg>
    : @<svg width="40" height="40" viewBox="0 0 59 41" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M32.0833 11.6667H2.91667C1.3125 11.6667 0 12.9792 0 14.5833C0 16.1875 1.3125 17.5 2.91667 17.5H32.0833C33.6875 17.5 35 16.1875 35 14.5833C35 12.9792 33.6875 11.6667 32.0833 11.6667ZM32.0833 0H2.91667C1.3125 0 0 1.3125 0 2.91667C0 4.52083 1.3125 5.83333 2.91667 5.83333H32.0833C33.6875 5.83333 35 4.52083 35 2.91667C35 1.3125 33.6875 0 32.0833 0ZM46.6667 23.3333V14.5833C46.6667 12.9792 45.3542 11.6667 43.75 11.6667C42.1458 11.6667 40.8333 12.9792 40.8333 14.5833V23.3333H32.0833C30.4792 23.3333 29.1667 24.6458 29.1667 26.25C29.1667 27.8542 30.4792 29.1667 32.0833 29.1667H40.8333V37.9167C40.8333 39.5208 42.1458 40.8333 43.75 40.8333C45.3542 40.8333 46.6667 39.5208 46.6667 37.9167V29.1667H55.4167C57.0208 29.1667 58.3333 27.8542 58.3333 26.25C58.3333 24.6458 57.0208 23.3333 55.4167 23.3333H46.6667ZM2.91667 29.1667H20.4167C22.0208 29.1667 23.3333 27.8542 23.3333 26.25C23.3333 24.6458 22.0208 23.3333 20.4167 23.3333H2.91667C1.3125 23.3333 0 24.6458 0 26.25C0 27.8542 1.3125 29.1667 2.91667 29.1667Z" fill="white" />
    </svg>
   
        
    )
    <div id="state">
        <div id="name">@name</div>
        <div id="kcal">@(isFilled ? "650 kcal" : "")</div>
    </div>
</button>


@code {
    [Parameter]
    public string name { get; set; }
    [Parameter]
    public int? kcal { get; set; }

    [Parameter]
    public bool isFilled { get; set; } = false;

}
