@using MudBlazor
@using FitAura.Components.Modals.Show
@inject IDialogService DialogService
<button @onclick='() => DialogService.ShowAsync<ShowRecipe>("Podgląd", new DialogParameters { { "RecipeId", id } }, new DialogOptions { FullWidth = true, MaxWidth = MaxWidth.Small })' class="recipe-card">
    <img src="@ImageSource" height="200" width="200" alt="recipe-picture"/>
    <div id="name">@name</div>
    <div id="kcal"><img src="images/kcal.svg" height="20" alt="kcal-icon"/> @kcal kcal</div>
    <div id="nutrients">
        <div class="nutrient">
            <div>@(protein)g</div>
            <div>białka</div>
        </div>
        <div class="nutrient">
            <div>@(carbs)g</div>
            <div>węgli</div>
        </div>
        <div class="nutrient">
            <div>@(fats)g</div>
            <div>tłuszczy</div>
        </div>
    </div>
    <div id="categories">
        <div class="category">Vegan</div>
        <div class="category">Keto</div>
        <div class="category">Low fat</div>
    </div>
</button>


@code {
    [Parameter]
    public int id { get; set; }
    [Parameter]
    public string name { get; set; } = "";
    [Parameter]
    public int kcal { get; set; }
    [Parameter]
    public int protein { get; set; }
    [Parameter]
    public int carbs { get; set; }
    [Parameter]
    public int fats { get; set; }
    [Parameter]
    public string img { get; set; } = "";

    public string ImageSource => img.StartsWith("/") ? $"http://localhost:5096{img}" : $"images/{img}";
}