@using FitAura.Models
@using FitAura.Services
@using MudBlazor
@inject FitAura.Services.ProductService ProductService
@inject HttpClient Http

<MudDialog>
    <DialogContent>
        <div id="search">
            <input id="recipe-input" type="text" placeholder="Wpisz kod kreskowy" @bind="barcode" @onkeyup="HandleKeyUp" />
            
            <button class="filter-icon" type="button" @onclick="() => GetProduct(barcode)">
                <img height="26" src="images/add_photo.svg" alt="Szukaj" />
            </button>
            
            <div class="filter-icon"><img height="25" src="images/recipes.svg" alt="Przepisy" /></div>
        </div>

        @if (myProduct != null)
        {
            <div id="img-container">
                <img id="meal-img" src="@(myProduct.imageUrl ?? "images/sushi.png")" alt="product" />
            </div>
            <div id="content">
                <div>
                    <div id="name">@myProduct.name (@myProduct.grammage)</div>
                    <div id="kcal">
                        <img height="16" src="images/kcal.svg" alt="kcal" />
                        @(Math.Round(myProduct.kcal)) kcal
                    </div>
                </div>
                <div id="markets">@(myProduct.market != "" ? "Kupisz w: " + myProduct.market: "")</div>
                <div id="nutrients">
                    <div class="nutrient">@myProduct.protein g białka</div>
                    <div class="nutrient">@myProduct.carbs g węgli</div>
                    <div class="nutrient">@myProduct.fats g tłuszczy</div>
                </div>
            </div>
        }
        else
        {
            <div style="text-align: center; margin: 20px 0; color: gray;">
                Wpisz kod kreskowy i naciśnij Enter lub kliknij ikonę, aby pobrać produkt...
            </div>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Anuluj</MudButton>
        <MudButton Color="Color.Secondary" OnClick="Submit" Disabled="@(myProduct == null)">
            Wybierz
        </MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    private string barcode = "";
    private FitAura.Models.Product? myProduct;

    private void Submit()
    {
        if (myProduct != null)
        {
            MudDialog.Close(DialogResult.Ok(myProduct));
        }
    }

    private void Cancel() => MudDialog.Cancel();

    
    private async Task GetProduct(string barcode)
    {
        myProduct = await ProductService.GetProductAsync(barcode);
        StateHasChanged(); 
    }

    private async Task HandleKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await GetProduct(barcode);
        }
    }
}